.register-section{

    /* background-color: blue; */

    /* display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; */
    /* display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    
    
    align-items: center;
    align-self: center;
    margin: 2rem 0;    */

    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0;
    padding: 0;
    

}


.register-container{

    /* background-color: var(--color-white);
    padding: 3rem 6rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */ 

    /* padding: 2rem 2rem;
    width: 30%;
    */
}

/* form{
    background-color: blueviolet;
    display: grid;
   grid-template-columns: 1fr 1fr;

} */


.input-unit{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  */
    /* align-items: center; */
    
    /* margin: 0.5rem 0; */

    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: flex-start;
    width: 100%;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;*/
    
}

.hinput-unit{
    display: flex;
    flex-direction: column;
}


.input-unit{
    display: flex;
    min-width: 100%;
    gap:0.1rem;
    .hinput-unit{
       display: flex;
       flex-direction: column;
        width: 100%;

        select{
            width:100%;
        }
    }
}

.select-input{
    width:100%;
}

.register-label{
    font-size: 0.8rem;
    font-weight: 600;
    color:  gray;
}

.sexe-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    label{
        color: black;
        font-weight: 400;
    }
}



.form-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}



.register-message{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* justify-self: center;
    align-self: center; */
}

.register-message > h3 {
    color: var(--color-black);
}

.register-form{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    justify-content: center;
    align-items: space-between;
    gap: 0.3rem;
    width: 100%;
  
}

.logo-register{
    height: 120px;
    padding: 1rem;
}


@media screen and (max-width: 1024px){

    .register-container{
        width: 90%;
     
       
    }

    .input-unit{
        display: flex;
        flex-direction: column;
    }


    .textfield{
        height:35px;
      
        padding: 0.5rem;
        margin: 0.3rem 0;

      }

}
  
  
  @media screen and (max-width: 600px){


   
  }