.videocall-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin-top: 60px;
    
 
}

.video-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--white-color);

    height: 100vh;


}

.video-container-2{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--black-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);
    background-color: var(--white-color);
}



#video{
    

    /* position: relative;
    top: 0;
    left: 0;
    z-index: 0; */
    /* display: flex; */
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    /* box-shadow: var(--box-shadow-primary); */

}


.video{
    display: none;
    width: 80%;
    /* height: 50%; */
    padding: 1rem;
    border: 2px solid var(--black-color);
    box-shadow: var(--box-shadow-primary);
    background-color: var(--black-color);

}

.caller{
    background-color: var(--black-color);
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    svg{
        font-size: 10rem;
        color: var(--textfield-color);
        border: 1px solid var(--textfield-color);
        border-radius: 4px;
        padding: 1rem;

    }
}

.videocall-bar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bar-color);
    /* border: 2px solid var(--black-color); */
    border-top: 2px solid var(--black-color); 
    width: 100%;
    padding: 1rem;
    gap: 1rem;


}

.call-options{
    font-size: 1.2rem;
}

.call-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white-color);
    padding: 0.8rem;
    cursor: pointer;
}
.call-icon-wrapper:hover{
    filter: brightness(90%);
    transition: ease 0.3s;
}

/* .call-icon-wrapper:has(#start-call){
    background-color: green;
}

.call-icon-wrapper:has(#stop-call){
    background-color: red;
} */


.chatting-area{
    width: 20%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--black-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);

}
 
.new-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-top: 1px solid var(--black-color) ;
    width: 100%;
    padding: 0.3rem;
    
}



#start-call{
    display:flex;
    background-color: green;
 
    svg{
        fill: var(--white-color);
    }   
  
}

#stop-call{
    display: none;
    background-color: red;
    svg{
        fill: var(--white-color);
    }   
}

#mic-on{
    display: none;
}

#mic-off{
    display: flex;
}




/* .end-call-btn{
    background-color: transparent;

} */

.start-call {
    display: flex;
 
}

.end-call{
    display: none;
}

.call-img{
    width: 3rem;
    
}


/* #stop-btn{
    position: absolute;
    display: flex;
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);

    top: 10px;
    right: 10px;
   display: flex;
    z-index: 1;
} */

