.apply2-section{
 
}

.video-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    margin: 1rem 0;
    height: 100vh;


}



#video{
    

    /* position: relative;
    top: 0;
    left: 0;
    z-index: 0; */
    display: none;
    /* border-radius: 10px; */
    border: 1px solid black;
    box-shadow: var(--box-shadow-primary);

}


.videocall-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bar-color);
    border: 1px solid var(--white-color);
    width: 100%;
    padding: 1rem;
    gap: 1rem;


}

.call-options{
    font-size: 1.5rem;
}

.call-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white-color);
    padding: 1rem;
    cursor: pointer;
}
.call-icon-wrapper:hover{
    filter: brightness(90%);
    transition: ease 0.3s;
}

/* .call-icon-wrapper:has(#start-call){
    background-color: green;
}

.call-icon-wrapper:has(#stop-call){
    background-color: red;
} */
 




#start-call{
    display:flex;
    background-color: green;
 
    svg{
        fill: var(--white-color);
    }   
  
}

#stop-call{
    display: none;
    background-color: red;
    svg{
        fill: var(--white-color);
    }   
}

#mic-on{
    display: none;
}

#mic-off{
    display: flex;
}




/* .end-call-btn{
    background-color: transparent;

} */

.start-call {
    display: flex;
 
}

.end-call{
    display: none;
}

.call-img{
    width: 3rem;
    
}


/* #stop-btn{
    position: absolute;
    display: flex;
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);

    top: 10px;
    right: 10px;
   display: flex;
    z-index: 1;
} */

