.navbar-section-outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    
    /* gap: 1rem; */

    /* display: flex;
    flex-direction: column; */
    z-index: 1; 
    background-color: transparent;  

   

}


.navbar-section-outer.scrolled{
    /* background-color: rgb(240, 240, 240, 0.8);
    
    
    backdrop-filter: blur(10px); */
    
    /* background-color: var(--color-white); */

    background-color: var(--bar-color);
    box-shadow: rgba(9, 30, 66, 0.25) 0px -1px -1px, rgba(9, 30, 66, 0.13) 0px 0px -1px -1px;
   

}


.navbar-section{
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;

    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    

    
    /* position: fixed;  
    top: 0;
    left: 0;
    width: 100%; */


    /* background-color: var(--color-white); */




}

.logo-navbar{
    display: flex;
    justify-content: center;
    align-items: center;

}



.logo-container{
    /* background-color: red;     */
    height:100%;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.9rem;
     
    }

    
}


.logo.scrolled{
    color: var(--bar-text-color);
}



.icon{

    margin-top: 2px;
    margin-right: 2px;
    font-size: 1.3rem;
    /* padding: 1px; */

}

.nav-links{
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap; 
    margin-right: 2rem;
    gap: 1.2rem;
    
    /* background-color: blue; */
    
}

.nav-link{
   
    display: flex;
    margin: 0 0.5rem;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    /* font-size: 18px; */
    transition: ease 0.3s;
    align-items: center;
    gap: 0.1rem;

}


.nav-link.scrolled{
    color: var(--bar-text-color);

}

.nav-link.scrolled:hover{
    color: var(--accent-color);
}



.nav-link:hover{
    /* color: var(--secondary-color); */
    /* border-bottom: 4px solid var(--primary-color); */

}

ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-around; */
    /* margin:auto; */
    
    /* height: 65px; */
 
}



/* li{
   
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
    
    
} */

/* li:hover{
    background-color: rgb(218, 218, 218);

} */




li{
    position: relative;
    list-style: none;

  
}


a:hover{
    font-weight: 700;
    color: var(--accent-color);
}
/* 
a.clicked{
    font-weight: 700;
    color: red;
} */

/* li::after{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 4px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: all 0.3s;


}



li:hover::after{

    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 5px;
    width: 100%;
    left: 0;
    bottom: -8px;
    border-radius: 4px;

} */

/* .sidebar-container{
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;

    width: 300px;
    background-color: var(--neutral-color);
    backdrop-filter: blur(10px);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: start;
    align-items: start;

} */

.sidebar{

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

   
    width: 300px;
    background-color: var(--color-white);
    background-color: var(--bar-color);
    /* backdrop-filter: blur(10px); */
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
    padding: 1rem 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 999;
   
}


.sidebar .nav-link {
    color: var(--bar-text-color);
}



/* nav li:first-child{
    margin-right: auto;
} */

.sidebar li {
    width: 100%;
    padding: 0.3rem 0.5rem;

}

.sidebar a{
    width: 100%;
}

.sidebar a:hover{
    
    color: var(--accent-color);
}


.menu {
    display: none;
    fill: var(--text-color);
    
    
}

.quit-menu {
    display: none;
}


.btn.scrolled{
    color: black;
    border-color: black;
    color: var(--bar-text-color);
    border-color: var(--bar-text-color);
    

}

.btn.scrolled:hover{
    
    border-color: var(--accent-color);
}


/* pop up login */

.login-container{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    width: 30%;
    /* gap:2rem; */
    background-color: #FFFFFF;
  
  
    padding: 2rem;
    z-index: 1001;

}

.login-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.register-pop{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    /* gap:2rem; */
    background-color: #FFFFFF;  
    padding: 2rem;
    z-index: 1001;


}

/* .quit-login{
   align-self: flex-end;
   margin: 10px;
} */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hide overlay by default */
    pointer-events: auto; /* Prevent clicks on the background */
    z-index: 1000;
}




@media screen and (max-width: 1024px){
    
    .nav-links{
        display: none;
    }
    
    .menu{
        display:flex;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 20px;
       
    }

    .menu svg{
        fill: var(--text-color);
    }

   
    .menu.scrolled svg{
        fill: var(--bar-text-color);
        
    }

    .quit-menu {

        svg {
            fill: var(--bar-text-color);
         
           
        }
        
    }


   
    .login-container{
        width: 90%;
    }

    .register-pop{
        width:90%;
    }
  
  
  }
  
  
  @media screen and (max-width: 600px){
   
  }
  