.sidebar-dashboard{
    position: fixed;
    left:0;
    top: 0;
    z-index: 999;

    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
    gap:3rem;
    background-color: var(--bar-color);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);


    a{
        color: var(--bar-text-color);
    }
    

    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: space-between;
        gap: 1.5rem;
        height: 100%;
    
        /* li:last-child{
            margin-top: auto;
        } */

       
    }

    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}

.sidebar-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

/* .quit-menu{
    display: none;
   
} */

.logo-log{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--bar-text-color);
}


@media screen and (max-width: 1024px){
    .sidebar-dashboard{
        display: none;
        width: 80%;
    }

    .quit-menu{
        display: flex;
    }

    

    
}