.login-section{
 

    /* display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
    
    background-color: blue; 
    margin: 2rem 0; */

    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    /* padding: 1rem;
    padding-top: 0;
    margin: 1rem; 
    margin-top: 0; */
    margin: 0;
    padding: 0;

  
}

.login-container-outer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 0;
 
}


.login-container-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    /* padding: 4rem 7rem; */
    /* margin: 3rem; */
    padding: 0 1rem;
    margin-top: 0;

 
    
}

.logo-login{
    height: 120px;
    padding: 1rem;
    margin-top: 0;
 
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

}

.login-message{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
}

.signin {
    align-self: center;
}

.checkbox-input{    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}

.input-unit{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #password{
        padding-right: 2.4rem
    }
}

.eye-closed{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-30%,-50%);

    cursor: pointer;
    display: flex;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.5rem;
    transition: all 0.3s;
    
}

.eye-closed:hover{
    background-color: rgba(165, 163, 163, 0.2);
}

.eye-open{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-30%,-50%);
    display: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.5rem;
    
    transition: all 0.3s;
}

.eye-open:hover{
    background-color: rgba(165, 163, 163, 0.2);
}

@media screen and (max-width: 1024px){

    .login-container-outer{
        display: flex;
        flex-direction: column;

    }

    .login-container-inner{
        width: 90%;
   
    }


      
  }
  
  
  @media screen and (max-width: 600px){
 
  }
  