@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  border : 0;
  outline : 0;
  box-sizing: border-box;
  /*list-style: none;*/
  text-decoration: none;
}


:root {

  /* --primary-color: #A3D5FF;
  --secondary-color: #B2E0A8; */
  --primary-color: #2088bb;
  --primary-color: #1D75BC;
  --primary-color: #118aec;
  

  /* --primary-color: #79AFD1; */
  --secondary-color: #05d6a2;
  --accent-color: #F6E7CB;
  --neutral-color: #F2F2F2;
  /* --text-color: #333333; */
  /* --text-color: #686D76; */
  --text-color: #555555;
  --textfield-color: grey;
  --gold-color: #B19B3C;
  --inputfield-color: #e4e4e4;
  --border-color: #c0c0c0;
  --inputph-color: #4f4d4d;
  --label-color: black;


 
  --color-white : white;
  --color-black : black;


  --bg-color-1: #2980B9;
  --bg-color-2: #6DD5FA;
  --bg-color-3: #FFFFFF;


  /* 
  Color Palette:
Header/Navbar and Footer:

Color: Dark Navy Blue (#1B263B)
Text/Icon Color: White (#FFFFFF)
Body Sections:

Section 1 Background: Soft Light Gray (#F5F5F5)
Section 2 Background: Light Pastel Blue (#E3F2FD)
Text Color: Dark Charcoal (#333333)
  */

  --bar-color: #1B263B;
  --bar-text-color: #FFFFFF;
  --primary-color:#F8F8FF;
  --primary-color-dark:#e1e1e1;
  --secondary-color:#E3F2FD;
  --text-color: #333333;
  --accent-color: #FF6B6B;
  --black-color: #1a0d0d;
  --white-color: #fffffffd;

  --white-color: #FFFAFA;
  --white-color: #FAFAFA;
  --secondary-color: #B2C7D9;
  --lightgray-color: rgba(213, 213, 213, 0.5);
  --card-bg-color: #B2C7D9;
  /* --card-bg-color: #3C4A6B;
  --card-bg-color: #3C4A6B;
   */
   
  /* --bar-color: white; */
  /* --bar-text-color: black; */

  /* --bar-color: #FAFAFA;
  --bar-text-color: #1B263B; */
 

  /* --primary-color:#E3F2FD;
  --secondary-color: #F5F5F5; */

  /* --primary-color: #FBFCF8;
  --secondary-color:#F0F8FF;
  --white-color: #FAF9F6;
  --bar-text-color: #FAF9F6; */


  --box-shadow-primary: #333333 0 0 2px;
  --box-shadow-secondary: #333333 0 0 10px;
  --box-shadow-white: #FFFFFF 0 0 5px;
  --box-shadow-accent: var(--accent-color) 0 0 5px;


  /*second palette*/

  /* --bar-color: #8BC34A; 
  --bar-text-color: #FFFFFF; 
  --primary-color: #F0F4C3; 
  --secondary-color: #C5E1A5; 
  --text-color: #2E2E2E;
  --accent-color: #FF7043;  */
  /* Warm Orange */
  /* --bar-color: rgb(139, 195, 74, 0.8);  */
  


  --container-width-lg: 90%;
  --container-width-md: 85%;
  --containter-width-sm: 75%;
  --container-height-lg: 100vh;
  --container-height-md: 50vh;


  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.3),
    rgba(12, 10, 22, 0.5)
  );


}



html{
  scroll-behavior: smooth;
  /* height: 100%; */

  /* display: flex;
  flex-direction: column; */
}

::-webkit-scrollbar {
  display: none;
}

body {
  
  margin: 0;
  height: 100%;
  width: 100%;
  font-family:  "SUSE", "Roboto", "Segoe UI","Changa", "Assistant", "Source sans 3", "Libre Franklin" , Ubuntu, Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* min-height: 100vh; */
  /* background-color: var(--neutral-color); */
  /* background: rgb(148, 157, 160) url("../src/assets/background3.avif") no-repeat fixed center; */

  /* background-image: linear-gradient(var(--bg-color-1),  var(--bg-color-2),  var(--bg-color-3)); */

  /* background colors */
  /* background-image: linear-gradient(to right, #c33764, #1d2671);
  background: linear-gradient(135deg, #A3D5FF, #FFA3D5);
  background: linear-gradient(135deg, #B2E0A8, #E0A8B2);
  background: linear-gradient(135deg, #F6E7CB, #CBDFF6);
  background: linear-gradient(135deg, #A3D5FF, #A3A8FF);
  background: linear-gradient(135deg, #B2E0A8, #A8E0C4);
  background: linear-gradient(135deg, #F6E7CB, #F6ECB7);
  background: linear-gradient(135deg, #A3D5FF, #FFA3D5);
  */



    background: rgba(242, 245, 244, 0.126) url("../src/assets/background5.jpg") no-repeat fixed center;
    background: linear-gradient(135deg, #2088bb, #05d6a2) no-repeat fixed center;
    background: var(--secondary-color);
    background-color: var(--primary-color);

  
  /* background: var(--image-gradient), url(./assets/background2.jpg);
  background-position: center;
  background-repeat: no-repeat; */

  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

section{
  padding-top: 60px;

}

h1, h2, h3, h4, h5, h6{
 
  color: var(--text-color);
}

h1 {
  /* font-size: 2rem; */
  color: var(--accent-color);
}


p{
  color:var(black) ;
  color: var(--text-color);
  font-weight: 400;
}

select{
  height: 2rem;
  padding: 0 5px;
  border: 1px solid var(--black-color);
  border-radius: 2px; 
  width: 100%;

}


li{
  list-style: none;

}

label{
  color: var(--label-color);
}

a {
  font-weight: 600;
  color: var(--black-color);
  cursor: pointer;
  transition: ease 0.3s;
}

button {
  cursor: pointer;

}


hr {
  height:0.3px;
  border-width:0;
  color:var(--lightgray-color);
  background-color:var(--lightgray-color);; 
  margin: 1rem 0rem;
  width: 100%;
}


/* form {
  display: flex;
  flex-direction: column;
} */

.loading-screen {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}



.App{

  /* display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center; */
  /* place-items: center; */

  /* height: 100vh; */
  
/*   
  min-height: 100vh;
   */


  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  
  /* background-color: red; */

  /* align-items: center; */

  /* display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "content" "footer"; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */
  /* min-width: 100vh; */


}

.navbar {
  grid-area: header;
}
.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding-top: 60px; */
  /* margin-top: 40px; */
  /* padding-bottom: 20px; */
  flex: 1;
  
}

.footer{

  grid-area: footer;
  /* margin-top: auto; */
  

}

/* .slide-in-element{
  transform: translateY(80px); 
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.slide-in-element.visible{
  transform: translateY(0); 
  opacity: 1; /
} */

/* animations*/

.slide-in-element{
  transform: translateY(80px);
    opacity:0;
    /* transition: transform 2s ease-out, opacity 2s ease-out; */
    /* transition: all 8000ms; */
    /* animation-duration: 8s; */
    transition: all 1s;


}

.slide-in-element.visible{
    opacity:1;
    transform: translateY(0);
    transition: all 1s;
}

.slide-up-element{
  transform: translateY(-80px);
  opacity: 0;
  transition: all 1s;
}

.slide-up-element.visible{
  opacity: 1;
  transform: translateY(0);
}

.side-slide-left{

  opacity: 0;
  transform: translateX(-80px);
  transition: all 1s;
}

.side-slide-left.visible{
  opacity: 1;
  transform: translateX(0);

}



.review-card{
    /* transform: translateY(100px);
    opacity:0;
    transition: all 1s; */

    transform: scale(0.2);
    opacity: 0;
    transition: all 1s;
}

.review-card.visible{
  /* opacity:1;
  transform: translateY(0);
  transition: all 1s; */
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
}

.stats-card{
  transform: translateY(80px);
  opacity:0;
  transition: all 1s;
}

.stats-card.visible{
    opacity:1;
    transform: translateY(0);
    transition: all 1s;
}


.show-in-element{
    opacity: 0;
    transition: all 0.5s ease-in;
}

.show-in-element.visible{
    opacity:1;
}


.stair-element{
  opacity:0;
  transform: translateY(80px);
  /* transition: all 0.2s; */
}

.stair-element.visible{
  
  opacity:1;
  transform: translateY(0);
  
}




.container-h{
  margin:0;
  padding:0;
  min-height: var(--container-height-lg);
}

.container-m{
  margin:0;
  padding:0;
  min-height: var(--container-height-md);
}

.container{

  width: var(--container-width-lg);
  justify-self: center;
  justify-content: center;
  

  /* z-index: 0; */


  /* background-color: blue; */


  /* margin : 0 auto 2rem auto;  */
  /* background-color: var(--color-white); */

}

.cool-container{

  /* background-color: rgba(253, 253, 253, 0.8); */
  background-color: var(--white-color);
  backdrop-filter: blur(10px);
  /* padding: 3rem 6rem; */
  padding: 1rem 3rem;
  border-radius: 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  
}

.center{

  text-align: center;
}

.btn {
  /* padding: 0.6rem 1rem;
  margin: 1rem 0.2rem; */
  margin: 10px 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-color: var(--text-color);
  color: white;
  color: var(--text-color);
  background-color: transparent;
  border-color: var(--text-color);
  cursor: pointer;

 
  font-weight: 600;
  text-align: center;

  transition: all 0.3s;

  line-height: 1;
  border-bottom: 4px solid var(--black-color);



}

.btn:hover{
  filter: brightness(110%);
  transform: translateY(-1px);

}


.btn-primary{
  
  background-color: var(--primary-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--black-color);
  color: var(--text-color);
  transition: ease 0.2s;
  background-color: var(--bar-color);
  border-color: transparent;
  color: var(--bar-text-color);

  background-color: var(--accent-color);
  color: var(--text-color);
  border-bottom: 4px solid var(--black-color);
  transition: all 0.3s;

}

.btn-primary:hover{
  /* background-color: var(--primary-color);
  color: var(--color-white); */
  /* filter: brightness(110%); */

}

.btn-secondary{
  border: 2px solid var(--text-color);
  background-color: var(--secondary-color);
  color: var(--white-color);
  color: var(--text-color);
  transition: ease 0.2s;


  border: 2px solid var(--text-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  border-bottom: 4px solid var(--black-color);
  transition: all 0.3s;
  
}

.btn-secondary:hover{
  /* background-color: var(--color-black); */
  filter: brightness(110%);
}

.textfield{
  height:40px;

  padding: 0.5rem;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-color:  var(--border-color);
  background-color: var(--inputfield-color);
  width: 100%;
}

.textfield:focus{
  border-style: solid;
  border-width: 1px;
  border-color: var(--text-color); 
  box-shadow: var(--box-shadow-primary);

}



/* COOL INPUT BOX*/

.entryarea{
  display: flex;
  position: relative;
  height: 60px;
  line-height: 80px;
  margin: 2px;
}

.input-cool{
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 5px;
  border: 2px solid;
  border-color: var(--black-color);
  border-color: rgb(193, 193, 193);
  background: transparent;

  transform: 0.2s ease;
  z-index: 1111;
}

.label-cool{

  position: absolute;
  line-height: 40px;
  padding-left: 10px;
  padding: 0 2px;
  margin: 0.2rem;
  font-size: 1.1rem;
  margin: 0 5px;
  background-color: var(--whtie-color);

}

.input-cool:focus {
  border-color: var(--secondary-color);
  /* color:var(--primary-color); */

}

.input-cool:focus + .label-cool{

  color: var(--secondary-color);
  /* background-color: red; */
  height: 2px;
  line-height: 2px;
  transition: 0.2s ease;
  /* transform: translate(-15px, -16px) scale(0.88); */
  /* transform: scale(0.88); */
  /* transform: translate( 0px, -0px); */
  /* transform: scale(0.88); */
  z-index: 1111;
}


.label2{
  font-size: 1rem;
  color: gray;
}

.input2{
  height:40px;
  border: 2px solid black;
}


.card{
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 10px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/* .navbar{
  grid-area: navbar;
}
.content{
  grid-area: content;
}
.footer{
  grid-area: footer;
}

.App{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'navbar' 'header' footer;
} */


@media screen and (max-width: 1024px){

  .container {
      /* width: var(--container-width-md); */
      display: flex;
      flex-direction: column;
      
  }
  

}


@media screen and (max-width: 600px){
  .container {

      /* width: var(--container-width-sm);
      */
  }
 
}
