.about-section{

    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    justify-content: space-evenly;
    align-items: center;
    /* gap: 1rem; */
    /* margin: 3rem 0; */
    padding: 0;
    /* background-color: white; */
    /* gap: 2rem; */
    width: 100%;
 
    

}


.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;

    /* background-color: var(--secondary-color); */
    min-width: 100%;
    /* padding: 1rem 0; */
  



   
}

.box-middle{
    /* background-color: var(--primary-color);    */


}

.box-team{
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
}

.about-container{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 3rem; */
    /* width: 90%; */
    margin: 0;
    /* padding: 2rem 0; */
    /* gap: 3rem; */
    width: 100%;
    /* padding: 4rem 0 0 0; */


    
    /* border: 4px solid white; */

}

.healing-together-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 3rem; */
    /* width: 90%; */
    margin: 0;
    /* padding: 2rem 0; */
    /* gap: 3rem; */
    width: 100%;
    padding: 4rem 0;


}

.about-header-title{
    /* position: relative;
    font-size: 3rem;
    font-weight: 700; */
    /* margin-top: 5rem; */
    h2 {
        font-size: 2.5rem;
    
    }
    hr{
        height: 3px;
        background-color: var(--accent-color);
        padding: 0;
        margin:0.5rem 0;

    }
}






.about-box{

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  
    margin: 0;
    padding: 1rem;
    margin: 1rem;
    gap: 5rem; */

    transition: all 0.2s;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

   
}

/* .about-box:hover{
    transform:  scale(1.1);

} */

.about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
    /* margin-top: 2rem; */
    width: 100%;
    /* margin-bottom: 2rem; */
    /* background-color: var(--primary-color); */
    /* background-image: url("../../assets/aboutH3.png"); */
    /* background-image: url("../../assets/aboutH5.png"); */
    /* background-image: url("../../assets/office.png"); */
    background-image: url("../../assets/aboutH6.jpg");

 
    background-position:top;
    background-color: transparent;
    /* background-color: rgba(242, 245, 244, 0.126); */
    /* background-image: rgba(242, 245, 244, 0.126) url("../src/assets/aboutH2.jpg") no-repeat fixed center; */
    /* background:rgba(15, 155, 180, 0.573) url("../../assets/aboutH3.png") no-repeat center top; */
    min-height: 100vh;
  

}

.about-title::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , rgba(255, 255, 255, 0.9), rgba(255, 255 , 255, 0.1));
    /* background-color: rgba(255, 255, 255, 0.5);
    background-color: rgb(245, 245, 245, 0.8);
    background-color: rgba(148, 108, 15, 0.5);
    background-color: rgb(227, 242, 253, 0.3); */


}

.img-container {
    position: relative;
    /* min-width: 40%;
    max-width: 40%; */

    max-width: 80%;

    /* display: flex;   
    justify-content: center; */
    /* margin: 2rem; */
    display: flex;
    justify-content: center;

    margin: 2rem 0;
    transition: all 0.3s;
    /* box-shadow: var(--box-shadow-primary); */
    border-radius: 4px;
    

}

.img-container::before{
    position: absolute;
    content: '';
    width: 15%;
    height: 25%;
    background-color: var(--accent-color);
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);
    box-shadow: -8px 8px 12px 0px rgba(0, 0, 0, 0.25);
   
}

.img-container-right{
    position: relative;
    /* min-width: 40%;
    max-width: 40%; */

    max-width: 80%;
    /* display: flex;   
    justify-content: center; */
    /* margin: 2rem; */
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 2rem 0;
    transition: all 0.3s;
    /* box-shadow: var(--box-shadow-primary); */
    border-radius: 4px;
    transition: all 0.3s;
    
}

.img-container-right::before{
    position: absolute;
    content: '';
    width: 15%;
    height: 25%;
    background-color: var(--accent-color);
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    border-radius: 4px;
    box-shadow: var(--box-shadow-secondary);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.img-container:hover{
    transform: scale(1.1);
    /* box-shadow: var(--box-shadow-secondary); */
}

.img-container-right:hover{
    transform: scale(1.1);
    /* box-shadow: var(--box-shadow-secondary); */
}


.about-img {
    /* height: 400px;
    max-width: 100%;
    height: auto; */    

    /* width: 400px; */
    /* height: 400px;
    float: left;
    margin-right: 10px; */


  
    max-width: 100%;
    height: auto; /* to maintain the aspect ratio*/

    border-radius: 4px;
    /* border: 3px solid black;     */
    transition: ease 0.3s;
    /* border: 5px solid  black; */
    /* box-shadow: var(--box-shadow-primary); */
    z-index: 1;
    
    
  
}



/* .about-img:hover{
    transform: scale(1.1);
    box-shadow: var(--box-shadow-secondary);

} */


.box-right img{
    /* float:right;
    margin-right: 0;
    margin-left: 15px; */
}

/* .clearfix::before {
    content: "";
    display: table;
    clear: both;
} */

.about-title{


    h2 {
        padding-top: 2rem;
        /* color: var(--bar-text-color); */
        /* z-index: 1; */
        font-size: 3rem;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        z-index: 1;
        
        /* color: var(--black-color); */
     
    }
    h1 {
        /* color: var(--bar-text-color); */
        font-size: 4rem;
        /* z-index: 1; */
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        z-index: 1;
        
  
    }

   
}


.about-section h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: right;
   
}

.about-section h2{
    /* padding-top: 3rem; */
    font-weight: 400;
  
}

.box h2{
    font-size: 2rem;
    font-weight: 400;
    transition: ease 0.4s;


}

.about-descritpion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 2rem; */

    
}

/* .box:first-child h2:hover,
.box:last-child h2:hover{
    color: var(--secondary-color);
    transform: scale(1.2);
    
} */


.box-middle h2{
    /* color: black; */
}


.about-box p {
    /* padding: 1rem; */
    font-weight: 400;
    font-size: 1.2rem; 
 
}




.description-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.square{
/*     
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--accent-color);
   
    align-self: center; */

}



.box-left p{
    /* background-color: var(--primary-color); */
}

.box-right p {
    /* background-color: var(--secondary-color); */
}

.box-left:hover{
    /* background-color: var(--primary-color); */
}

.box-right:hover{
    /* background-color: var(--secondary-color); */
}
/* .cool{
    
    width: 70%;
    background-color: white;
    margin-bottom: 1rem;
} */


.double-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.double-text h2{
    /* font-weight: 400; */
}


/* .third-header{
    transition: all 0.3s;
}

.third-header:hover{
    transform: scale(1.1);
    color: var(--secondary-color);
} */



/* transitions when scrolling down*/


/* .slide-in-element{
    opacity:0;
    transform: translateY(80px);
    transition: all 0.5s ease-out;


}

.slide-in-element.visible{
    opacity:1;
    transform: translateY(0);
}

.show-in-element{
    opacity: 0;
    transition: all 0.5s ease-in;
}

.show-in-element.visible{
    opacity:1;
} */


.stats{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--bar-color);
    padding: 4rem 0;
}

.stats-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    font-size: 1.8rem;

    h3 {
        color: var(--accent-color);

    }
    
    p{
        color: var(--white-color);
    }
}


.stats-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 80%;

    
}

.stats-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.5rem; */
    padding: 0.5rem;
    font-size: 1.5rem;
   
    width: 100%;
    border-bottom: 2px solid var(--accent-color);

    h3{
        color: var(--white-color);
    }

   
}

.number{
 
    color: var(--accent-color);
}


.about-reviews{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0;
 

}
.about-reviews-cards{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.about-review-card{
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
}

.quote-icon-left{
    align-self: flex-start;
}

.quote-icon-right{
    align-self: flex-end;
}


@media screen and (max-width: 1024px){

    .about-container{
        justify-content: center;
        align-items: center;
   
    }


    .about-title{
        justify-content: center;
        align-items: center;
    }

    .box{
        justify-self: center;
        align-items: center;
        /* padding: 3rem 0; */

    }

    .about-box {
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 60%;
        /* margin: 3rem;
        padding: 2rem; */
    
    }

    .box-right{
        flex-direction: column-reverse;
    }



    .img-container{
    
        min-width: 100%;
    
    }

    .img-container-right{
        min-width: 100%;
    }
       

    .box h2{
        font-size: 2rem;
    }
    
    .box p {
        font-size: 1.1rem;
    }

    .stats-cards{
        display: flex;
        flex-direction: column;
    }

    .about-reviews-cards{
        display: flex;
        flex-direction: column;
        gap: 5rem;

    }
  
  }
  
  
  @media screen and (max-width: 600px){

    .about-section h1{
        font-size: 2rem;
    }

    .about-container{
        width: 100%;
    }

    .about-box{
        min-width: 90%;
    }
    
    .box h2{
        font-size: 1.4rem;
        font-weight: 600;
    }

    .box p {
        font-size: 1;
    }


    .img-container{
    
        min-width: 90%;
        
    }

    
    .img-container-right{
        min-width: 90%;
    }

    .about-header-title{
  
        h2 {
            font-size: 2rem;
            text-align: center;
        
        }

    }
       
   
  }